@charset "utf-8";

$breakpoints: (
      "mobile": "screen and (min-width: 480px)",
      "tablet": "screen and (min-width: 768px)",
      "full": "screen and (min-width: 1280px)",
      ) !default;

@mixin query($breakpoint) {
      @media #{map-get($breakpoints, $breakpoint)} {
            @content;
      }
}

@mixin inner($w: 87.5%, $mw: 1300px) {
      max-width: $mw;
      width: $w;
      margin-left: auto;
      margin-right: auto;
}

@mixin councilInner($w: 100%, $mw: 1140px) {
      max-width: $mw;
      width: $w;
      margin-left: auto;
      margin-right: auto;
}

@mixin flex($a: center, $b: space-between) {
      display: flex;
      justify-content: $b;
      flex-wrap: wrap;
      align-items: $a;
}

body {
      font-weight: bold;
}

.fade-in {
      opacity: 0;
      transform: translateY(20px
      );
transition: all 0.6s ease-out;
}

.fade-in.visible {
      opacity: 1;
      transform: translateY(0);
}

/*--- council-intro ---*/
.council-intro {
      background: url("../images/Vector3.png") no-repeat center bottom /cover;
      width: 100%;
      height: 460px;
      position: relative;

      &__inner {
            @include inner();
      }

      &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 150px;

            img {
                  position: absolute;
                  width: 360px;
                  right: 120px;
                  bottom: -20px;
            }
      }

      &__title {
            font-size: 34px;
            font-weight: bold;
            color: #fff;
      }

      &__title::after {
            content: "Council Information";
            padding-top: 6px;
            font-size: 20px;
            display: block;
      }
}

.council-firstView {

      &__title {
            &__text {
                  font-size: 34px;
                  letter-spacing: 0.1em;
            }

            &__span {
                  font-size: 20px;
            }
      }
}

.breadcrumb {
      display: flex;
      margin-top: 20px;

      li:first-child {
            color: #989898;
      }

      li:first-child::after {
            content: '>';
            padding: 0 16px;
      }

      li:first-child span:hover {
            border-bottom: 2px solid #c5c5c5;
            padding-bottom: 2px;
      }


      li:last-child ::after {
            content: '';
      }
}



/*--- council-voice ---*/

.council-voice {
      position: relative;
      margin-top: 0;

      &__visual {
            &-group01 {
                  position: absolute;
                  top: -150px;
                  right: 23%;

                  .human {
                        width: clamp(200px, 20vw, 360px);
                  }

                  .bubble {
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(64%, -50%);
                  }
            }

            &-group02 {
                  position: absolute;
                  top: -100px;
                  right: 6%;

                  .human {
                        width: clamp(200px, 20vw, 360px);
                  }

                  .bubble {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: translate(-64%, 0%);
                  }
            }
      }

      &__inner {
            @include councilInner();
      }
}

.council-voice__card-list,
.council-voice__title,
.council-voice__text {
      max-width: 1200px; // card-listの幅に合わせて調整
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
}

.council-voice__card {
      position: relative;

      &__text {
            width: 100%;
            padding: 0 10px;
      }
}

.council-cardList {
      gap: 80px;
}

.council-cardTitle {
      position: absolute;
      left: -10px;
}

.council-cardPicture {
      width: 100%;
}

/*--- council-activities ---*/

.council-activities {
      &__inner {
            @include councilInner();
      }

      &__card__text {
            width: 100%;
            padding: 0 10px;
      }
}

.council-activities-wrapper {
      position: relative;
      margin-top: -13%;

      .council-activities {
            position: absolute;
            top: 0;
            right: 23%;

            &__visual {
                  position: absolute;
                  top: -20%;
                  right: 6%;

                  .human {
                        width: clamp(270px, 25vw, 480px);
                        max-width: 100%;
                  }

                  .bubble {
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(-100%, 80%);
                  }
            }
      }
}

/*--- council-foundation ---*/

.council-foundation {
      &__inner {
            @include councilInner();
      }

      &__card__text {
            width: 100%;
            padding: 0 10px;
      }
}

.council-foundation-wrapper {
      position: relative;
      margin-top: 0;

      .council-foundation__visual {
            position: absolute;
            top: -24%;
            right: 6%;

            .human {
                  width: clamp(240px, 25vw, 400px);
                  max-width: 100%;
            }

            .bubble {
                  position: absolute;
                  top: 0;
                  right: 0;
                  transform: translate(-110%, 100%);
            }
      }
}


/*--- council-join-us ---*/
.council-join-us {
      &__title {
            &__span {
                  font-size: 20px;
            }
      }

      &__list-item {
            margin-bottom: 60px;
      }

      &__text {
            margin-bottom: 130px;
            width: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 14px;
            border-bottom: 3px dashed #FA4B06;
      }
}

/*--- council-contact ---*/
.council-contact {
      margin-top: -140px;

      &__text {
            font-size: 20px;
      }

      &__introduction {
            width: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            line-height: 2.6;
      }

      &__btn {
            border: 1px solid #fff;
            padding: 18px 30px;
            font-size: 20px;
            transition: .3s;

            &:hover {
                  background-color: #fff;
                  color: #fa4b06;
            }
      }
}

/*--- questions ---*/
.details {
      transition: .3s;
      overflow: hidden;
      margin-top: -10px;
      padding-bottom: 20px;

      &:last-of-type {
            margin-bottom: 0;
      }
}

.details[open] {
      margin-top: 0;
      padding-bottom: 10px;
}

.details-summary {
      display: block;
      padding: 15px;
      transition: .3s;
      transform: translateY(10px);
      border-bottom: 4px dotted #000;
      // background-color: #00a5a0;
      font-size: 20px;
      font-weight: bold;
      // color: #fff;

      &:hover {
            cursor: pointer;
      }
}

.details-summary::-webkit-details-marker {
      display: none;
}

.details[open] .details-summary {
      transform: translateY(0);
}

.details-content {
      padding: 20px;
      // background-color: #bee1de;
      // border-bottom: 2px solid #00a5a0;
      // border-left: 2px solid #00a5a0;
      // border-right: 2px solid #00a5a0;
}